mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
   overflow: hidden;
}



.content > mat-card {
  margin-bottom: 16px;
}


