<div class="content">
  <div>
    <div>
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <div style="text-align: center; border-radius: 20px">
          <img  age
              class="movie-image"
              style="border-radius: 20px; overflow: hidden; width: 100%"
              [src]="getMovieImageUrl(movieInput)"
              width="200px">

          </div>
          <circle-progress
            class="movie-rate"
            [percent]="movieInput.vote_average * 10"
            [title]="(movieInput.vote_average * 10).toString()+'%'" [radius]="20"

          ></circle-progress>
        </mat-card-header>
        <a [routerLink]="['/movie-detail', movieInput.id]"></a>

        <mat-card-content>
          <mat-card-title class="movie-title"
            >{{ movieInput.title }}
          </mat-card-title>
          <mat-card-subtitle class="movie-overview">{{
            movieInput.overview
          }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions fxLayoutGap=" grid">
          <button (click)="addFavorite()" mat-button><mat-icon>thumb_up</mat-icon></button>
          <button></button>
          <button mat-button (click)="addToPlayList()"><mat-icon>list</mat-icon></button>
          <button mat-button (click)="addList()"><mat-icon>playlist_add</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
