<div id="container">
  <h1>&bull; Selecciona la película a añadir&bull;</h1>
  <div class="underline"></div>
  <form method="post" id="formulario-addPlaylist" (ngSubmit)="addMovie()">
    <div class="form-group">
      <mat-form-field>
          <mat-label>Elegir Peli</mat-label>
          <mat-select [(ngModel)]="listId" name="name" required>
            <mat-option *ngFor="let item of lista" [value]=" item.id ">{{ item.name }}</mat-option>
          </mat-select>

        </mat-form-field>
        <button mat-raised-button (click)="addMovie()">
          Añadir Peli
        </button>
      </div>




  </form>
</div>
