<div id="container">
  <h1>&bull; Selecciona la película a añadir&bull;</h1>
  <div class="underline"></div>
  <form method="post" id="formulario-addPlaylist" (ngSubmit)="addMovie()">
    <div class="form-group">
      <mat-form-field>
          <mat-label>Elegir Lista</mat-label>
          <mat-select [(ngModel)]="addMovieToList.media_id" name="listaAniadir" required>
            <mat-option *ngFor="let lista of listas" value="{{ lista.list_id }}">{{ lista.list_id }}</mat-option>
          </mat-select>

        </mat-form-field>
        <button mat-raised-button (click)="addMovie()">
          Añadir Peli
        </button>
      </div>



    <div class="submit">
      <button mat-raised-button type="submit" value="Submit" color="primary">
        Poner a la venta
      </button>
    </div>
  </form>
</div>
