<div id="container">
  <h1>&bull; Selecciona la película a añadir&bull;</h1>
  <div class="underline"></div>
  <form method="post" id="formulario-addPlaylist" (ngSubmit)="addMovie()">
    <div class="form-group">
      <mat-form-field>
          <mat-label>Elegir Peli</mat-label>
          <mat-select [(ngModel)]="addMovieToList.media_id" name="listaAniadir" required>
            <mat-option *ngFor="let peli of movies" value="{{ peli.id }}">{{ peli.title }}</mat-option>
          </mat-select>

        </mat-form-field>
        <button mat-raised-button (click)="addMovie()">
          Añadir Peli
        </button>
      </div>



    
  </form>
</div>
