
<div id="container">
  <h1>&bull; Cree una Lista&bull;</h1>
  <div class="underline">
  </div>
  <form #listForm="ngForm" (ngSubmit)="crear(listForm)">
    <div class="name">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
        type="text"
        class="form-control"
        name="nombre"
        #nombre="ngModel"
        [(ngModel)] = "gasolineraService.selectedList.nombre"
        placeholder="Add List Name"
         >
      </mat-form-field>
    </div>
    <div class="name">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input
        type="text"
        class="form-control"
        name="descripcion"
        #descripcion="ngModel"
        [(ngModel)] = "gasolineraService.selectedList.descripcion"
        placeholder="Add List Description"
         >
      </mat-form-field>
    </div>
    <!--
      <div class="name">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gasolineras</mat-label>
        <mat-select class="form-control" name="gasoliners" #gasoliners="ngModel" [(ngModel)]="gasolineraService.selectedList.gasolineras" name="name" required>
          <mat-option *ngFor="let item of gasoliners" [value]=" item.idees ">{{ item.direccion }} {{ item.direccion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->

    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-plus-circle"></i> Add List
      </button>
      <button class="btn btn-secondary" type="reset" (click)="resetForm(listForm)">
        <i class="fas fa-syn alt"></i> Reset
      </button>
    </div>

  </form>
</div>
