<div id="container">
    <h1>&bull; Selecciona el género por el que filtrar&bull;</h1>
    <div class="underline"></div>
    <form method="post" id="formulario-genreFilter" >
      <div class="form-group">
        <mat-form-field>
            <mat-label>Elegir Género</mat-label>
            <mat-select [(ngModel)]="genreId" name="name" (selectionChange)="getMoviesFromGenre()" required>
              <mat-option *ngFor="let item of genres" [value]=" item.id ">{{ item.name }}</mat-option>
            </mat-select>

          </mat-form-field>
          <button mat-raised-button (click)="getMoviesFromGenre()">
            Mostrar pelis
          </button>

          <ul *ngFor="let movie of listaMoviesFiltrada ">
            <li>{{movie.title}}</li>
          </ul>
        </div>




    </form>
  </div>
