<div id="container">
  <h1>&bull; Cree una Lista&bull;</h1>
  <div class="underline">
  </div>
  <form action="#" method="post" id="contact_form">
    <div class="name">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="nombre de la lista" [(ngModel)]="listPost.name" name="nombre" >
      </mat-form-field>
    </div>
    <div class="description">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="descripcion"  [(ngModel)]="listPost.description" name="description">
      </mat-form-field>
    </div>
    <div class="submit">
      <button class="boton" mat-raised-button color="primary" (click)="createList()" routerLink= "/">nuevo</button>
    </div>
  </form>
</div>
